.itemCounter{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.countNumber{
    padding:10px;
}
.row:after{
    content:unset;

}
.details-description{
    display: flex;
    flex-direction: column;
}
